<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<section id="top">
			<div>
				<header>
					<h2><a href="/">Watch My Anime</a></h2>
				</header>
				<nav>
					<a href="/faq">FAQ</a><a href="/contact">Contact</a>
				</nav>
			</div>
		</section>
		<section id="main">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<aside class="alert">
						<ul>
							{% for message in messages %}
								<li>{{ message|safe }}</li>
							{% endfor %}
						</ul>
					</aside>
				{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}
		</section>
		<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</body>
</html>